<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script type="text/javascript">
            $("#put_form").ready(function () {
                var url_str = window.location.href;
                var id = url_str.split("=")[1];
                $.ajax({
                    type: "get",
                    url: "/project1/api/client/",
                    async: true,
                    data: {"id": id},
                    result: {},
                    success:function (result) {
                        console.log(result);
                        $("#put_form").append('<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">d_id</label><div class="col-sm-10"><input name="id" readonly="readonly" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["id"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">用户编号</label><div class="col-sm-10"><input name="number" readonly="readonly" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["number"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">用户帐号</label><div class="col-sm-10"><input name="loginName" readonly="readonly" type="text" class="form-control" id="inputpassword" value="'+ result["data"][0]["loginName"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">密  码</label><div class="col-sm-10"><input name="loginPwd" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["loginPwd"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">手机号</label><div class="col-sm-10"><input name="phone" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["phone"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">邮  箱</label><div class="col-sm-10"><input name="email" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["email"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">类  型</label><div class="col-sm-10"><input name="type" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["type"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">状  态</label><div class="col-sm-10"><input name="level" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["level"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">属  性</label><div class="col-sm-10"><input name="nature" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["nature"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">chId</label><div class="col-sm-10"><input name="chId" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["chId"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">chKey</label><div class="col-sm-10"><input name="chKey" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["chKey"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">销售编号</label><div class="col-sm-10"><input name="salemanId" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["salemanId"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">备  注</label><div class="col-sm-10"><input name="remark" type="text" class="form-control" id="inputaccount" value="'+ result["data"][0]["remark"] +'"></div></div>' +
                            '<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><button type="submit" class="btn btn-success">提交</button></div></div>');
                        //$("#put_form").after(str);
                        $("button").click(function () {
                            $.ajax({
                                type: "put",
                                url: "/project1/api/client/",
                                async: true,
                                data: $("#put_form").serialize(),
                                result: {},
                                success:function (result) {
                                    alert('修改成功！');
                                    window.close();
                                },
                                error:function (result) {

                                    alert(result["responseJSON"]["msg"]);
                                }
                            });
                        });
                    },
                    error:function (result) {
                        alert('提交失败');
                    }
                });

            })
    </script>

</head>
<body>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <form class="form-horizontal" id="put_form" onclick="return false">

                </form>
            </div>
        </div>
    </div>
</body>
</html>