<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑用户信息</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script type="text/javascript">
            $("#put_form").ready(function () {
                var url_str = window.location.href;
                var t_id = url_str.split("=")[1];
                $.ajax({
                    type: "get",
                    url: "/project1/api/themes/",
                    async: true,
                    data: {"t_id": t_id},
                    result: {},
                    success:function (result) {
                        $("#put_form").append('<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">ID</label><div class="col-sm-10"><input name="t_id" readonly="readonly" type="text" class="form-control" id="inputaccount" value="'+ result["t_id"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">主题名称</label><div class="col-sm-10"><input readonly="readonly" name="t_name" type="text" class="form-control" id="inputpassword" value="'+ result["t_name"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">图片轮训时间</label><div class="col-sm-10"><input name="t_pic_loop" type="text" class="form-control" id="inputaccount" value="'+ result["t_pic_loop"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">视频轮寻时间</label><div class="col-sm-10"><input name="t_vedio_loop" type="text" class="form-control" id="inputaccount" value="'+ result["t_vedio_loop"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">所属用户</label><div class="col-sm-10"><input name="u_id" type="text" class="form-control" id="inputaccount" value="'+ result["u_id"] +'"></div></div>' +
                            '<div class="form-group"><label for="inputtext" class="col-sm-2 control-label">主题类型</label><div class="col-sm-10"><input name="t_type" type="text" class="form-control" id="inputaccount" value="'+ result["t_type"] +'"></div></div>' +
                            '<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><button type="submit" class="btn btn-success">提交</button></div></div>');
                        //$("#put_form").after(str);
                        $("button").click(function () {
                            $.ajax({
                                type: "put",
                                url: "/api/themes/",
                                async: true,
                                data: $("#put_form").serialize(),
                                result: {},
                                success:function (result) {
                                    alert('修改成功！');
                                    window.close();
                                },
                                error:function (result) {

                                    alert(result["responseJSON"]["msg"]);
                                }
                            });
                        });
                    },
                    error:function (result) {
                        alert('提交失败');
                    }
                });

            })
    </script>

</head>
<body>
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <form class="form-horizontal" id="put_form" onclick="return false">

                </form>
            </div>
        </div>
    </div>
</body>
</html>